h2 {
 color: teal; 
   border-radius: 10px;
    font-family: "Lucida Console", Monaco, monospace;
    border: 3px solid darkcyan;
    padding: 5px;
    padding-top: 0px;
    margin:0px;
    margin-right: 60px;
} 

body {
    background-color: pink;
    margin-right: 80px;
}

img{
    border: 2px solid black; 
    box-shadow: 3px 3px 5px black; 
}

div {
    border-width: 2px;
    border-style: solid;
    border-color: crimson;
    border-radius: 10px;
margin-right: 60px;
    box-shadow: 6px 5px 5px lightcoral;

}

#secretpuzzle{
    color: red;
}
#topmovie{
    color: blueviolet;
    border-color: cornflowerblue;
    border-style: groove;

}

#foods{
    color:deeppink;
    background-color: yellowgreen;

}

#states{
    color: rebeccapurple;
    border-color: darkslateblue;
}

#student{
    border-style: ridge;
    border-color: midnightblue;
}

#color{
    color: tomato;
    border-style: dotted;
    border-color: black;
    
}